footer {
  background: $color-bg-creme;
  border-top: 0.5px solid $color-border;
  padding: 1rem 1.5rem;
  margin: 0 auto;
  @include flex-between;
  flex-wrap: wrap;
  gap: 8px;
}

.footer-copy { 
    font-size: $font-size-xs; 
    color: $color-corail; 
    @include flex-center;
    gap: 6px; 
    .footer-dot {
        width: 10px; height: 10px;
        border-radius: 50%;
        background: $color-corail;
        animation: pulse 2s infinite;
    }
}

.footer-socials { 
    display: flex; 
    gap: 14px; 
}
.footer-socials a { 
    color: $color-border-mid; 
    transition: color .2s; 
    text-decoration: none; 
}
.footer-socials a:hover { 
    color: $color-corail; 
}

.footer-text {
    display: flex;
    align-items: center;
     gap:8px;

    p{
        color: $color-corail;
        font-size: $font-size-md;
        
        
    }

    .pFooterSecond {
        display: flex;
        align-items: center;
        gap:8px;
        font-style: italic;

        &::before {
        content: '';
        display: block;
        width: 16px;
        height: 1px;
        background: $color-corail;
        flex-shrink: 0;
       
        }
    }
}

    