header{
    @include flex-between;
    padding: 0 4%;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 100;
    background: rgba(255, 248, 243, 0.97); // ← toujours opaque
    backdrop-filter: blur(8px);
    border-bottom: 0.5px solid transparent; // ← invisible au départ
    transition: border-color .3s ease, box-shadow .3s ease;
    animation: fadeUp .4s ease both;

    &.scrolled {
        border-bottom: 0.5px solid $color-border; // ← apparaît au scroll
        box-shadow: 0 2px 12px rgba(58, 32, 32, .06); // ← légère ombre au scroll
    }

    .logo-section {
        @include flex-center;
        gap:0.4rem;
    };
    .header-nav-bar {
        .menuBurger {
            display: none;
            color: $color-corail;
        }
        ul{
            display: flex;
            gap: 1.75rem;
            width:100%;
            list-style: none;
            a{
                color: $color-text-muted; 
                font-size: $font-size-lg;
                font-family: $font-sans;
                transition: color .2s;
            };
            a:hover {
            color: $color-corail;
        }
        };

    }
    .contactBtn{
        font-family: $font-sans;;
        font-size: $font-size-lg;
        padding: 7px 16px;
        border: 1.5px solid $color-corail;
        border-radius: 8px;
        background: transparent;
        color: $color-corail;
        cursor: pointer;
        text-decoration: none;
        transition: background .2s, color .2s;
        &:hover {
            background-color: $color-corail;
            color: $color-bg-creme;
        };
    };
    
}
p {
    font-size: $font-size-2xl;
    &.prenom {
        color:$color-text-main;
    }
    &.nom {
        color:$color-corail;
        font-style: italic;
    }
}

@include mobile {
     header {

        .header-nav-bar {

            .menuBurger {
                display: block;
            }

            ul {
                display: none;
            }

        }
         .contactBtn {
            font-size: $font-size-sm;
            padding: 3px 8px;
         }

    }
    p {
        font-size: $font-size-lg;
    }
}