.contact-main{
    display: flex;
    gap: 2rem;
    padding: 2rem 4%;

    .form-section {
        flex: 1; 
    }

    .infos-section {
        flex: 1;
    }
}

@include mobile {
    .contact-main {
        flex-direction: column;
    }
}
