.extras-section {
  @include infos-block-base;
  margin: 0 4% 1%;

  .infos-block-head {
    @include infos-block-head;
    .ih-icon { 
        color: $color-corail; 
    }
  }
}

.extras-flex {
  display: flex;
  flex-wrap: wrap; 
  gap: 8px;
}

.extra {
  background: $color-bg-creme-alt;
  border: 0.5px solid $color-border;
  border-radius: 8px;
  padding: .625rem 1rem;
  @include flex-between;
  flex: 1 1 calc(50% - 8px); // ← 2 par ligne
  min-width: 0;
}

.extra-name {
  font-size: $font-size-xs;
  color: $color-bordeaux;
}

.extra-price {
  font-size: $font-size-xs;
  font-weight: $font-medium;
  color: $color-corail;
}