.price-band{
    padding:1.25rem 0rem;
    @include flex-between;
    flex-wrap:wrap;
}
.price-right-part{
    display: flex;
    flex-direction: column;
    margin-left: 4%;
}
.price-main{
    display:flex;
    align-items:baseline;
    gap:10px;
    margin-bottom: 1rem;
}
.price-amount{
    font-family:'Playfair Display',serif;
    font-size:$font-size-3xl;
    color:$color-bg-white;
}
.price-range{
    font-size:$font-size-lg;
    color:$color-border;
}
.price-note{
    font-size:$font-size-sm;
    color:$color-border-mid;
}
.price-badges{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
    margin-right: 4%;
}
.pbadge{
    font-size:$font-size-xs;
    padding:3px 10px;
    border-radius:20px;
    background:rgba(255,255,255,.1);
    color:$color-border;}

.pb-bordeaux {
    background-color: $color-bordeaux;
}
.pb-bordeaux-dark {
    background-color: $color-bordeaux-dark;
}
