.infos-inner {
    @include infos-block-base;
    width: 60%;
}
.infos-head {
    @include infos-block-head; 
}

.faq {
  padding: 8px 0;
  border-bottom: 0.5px solid $color-bg-creme-alt;
}
.faq:last-child { border-bottom: none; }
.faq-question { font-size: $font-size-md; font-weight: $font-medium; color: $color-bordeaux; margin-bottom: 3px; }
.faq-answer { font-size: $font-size-sm; color: $color-text-secondary; line-height: 1.55; }