* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-sans;       
  font-size: $font-size-base;
  color: $color-text-main;
  background-color: $color-bg-creme;
  line-height: 1.6;
}

h1, h2, h3 {
  font-family: $font-serif;
  font-weight: $font-regular;
}
h2 {
  color: $color-corail;
  font-size: $font-size-xl;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .1em;
}
a {
  color: $color-corail;
  text-decoration: none;
}