// ── Couleurs principales ──
$color-corail:        #D85A30;
$color-corail-fonce:  #993C1D;
$color-bordeaux:      #712B13;
$color-bordeaux-dark: #4A1B0C;

// ── Fonds ──
$color-bg-creme:      #FFF8F3;
$color-bg-creme-alt:  #FAECE7;
$color-bg-white:      #FFFFFF;
$color-btn-hv-creme:  #FAEEDA;

// ── Bordures ──
$color-border:        #F5C4B3;
$color-border-mid:    #F0997B;

// ── Textes ──
$color-text-main:     #3A2020;
$color-text-secondary:#993C1D;
$color-text-muted:    #B4B2A9;

// ── Autres ──
$purple-bg:     #EEEDFE;
$purple-text:   #3C3489;
$purple-border: #CECBF6;
$green-bg:      #E1F5EE;
$green-text:    #085041;
$green-border:  #9FE1CB;
$amber-bg:      #FAEEDA;
$amber-text:    #633806;
$amber-border:  #FAC775;


//-----------------------------------\\

// ── Typographie ──
$font-sans:   'DM Sans', sans-serif;      // textes courants, boutons, labels
$font-serif:  'Playfair Display', serif;  // titres, prix, logo, accroches

// ── Tailles de base ──
$font-size-xs:  12px;
$font-size-sm:  14px;
$font-size-md:  15px;
$font-size-base: 16px;
$font-size-lg:  18px;
$font-size-xl:  22px;
$font-size-2xl: 28px;
$font-size-3xl: 38px;

// ── Poids ──
$font-light:   300;
$font-regular: 400;
$font-medium:  500;

/////////----------------------Mixins------------------\\\\\\\\


// ── Layout ──
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin section-title {
  h2 {
    margin: 0% 4% 1% 4%; 
    padding-top: 1%; 
  }
}


// ── Responsive ──
@mixin mobile {
  @media (max-width: 680px) { @content; }
}

@mixin tablet {
  @media (max-width: 1024px) { @content; }
}

// ── Composants réutilisables ──
@mixin card {
  background: $bg-white;
  border: 0.5px solid $color-border;
  border-radius: 10px;
  overflow: hidden;
}

@mixin pill($bg, $color, $border) {
  background: $bg;
  color: $color;
  border: 0.5px solid $border;
  border-radius: 20px;
  padding: 4px 12px;
  font-size: 11px;
}

@mixin infos-block {
    background: $color-bg-white;
    border: 0.5px solid $color-border;
    border-radius: 10px;
    overflow: hidden;
    width: 60%;
    margin-bottom: 1rem;;
    .infos-head {
        background: $color-bg-creme-alt;
        padding: .55rem 1rem;
        border-bottom: 0.5px solid $color-border;
        h3 {
            font-size: $font-size-sm;
            font-weight: $font-medium;
            text-transform: uppercase;
            letter-spacing: .08em;
            color: $color-text-secondary;
            }
        }
    .infos-body { 
        padding: .875rem 1rem; 
    }
}
// ── Animation ──
@mixin fade-up($delay: 0s) {
  animation: fadeUp .5s $delay ease both;
}